<%= simple_form_for @menu do |f| %>
  <%= f.input :name, required: true, input_html: { class: 'text_input', maxlength: 30 } %>
  <%= f.input :active, :label => '⠀Ativo', :value => false, input_html: { class: 'checkbox' } %>
  <div class="buttons">
    <%= f.button :submit, 'Criar Cardápio', :class => "button_form"%>
    <%= link_to 'Cancelar', menus_path, :class => "button_back"%>
  </div>
<% end %>