<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/welcome.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap" rel="stylesheet">

</head>

<body>
  <div class="container">
    <div class="TextAndImg">
      <div class="texto-principal">
          <h2>O futuro do <br> atendimento  <br> ao Cliente está ao <br> seu alcance.</h2>
      </div>

      <div class="logo">
          <img src="<%= image_url 'undraw_eating_together_tjhx.svg' %>" alt="logo">
      </div>
    </div>

    <div class="Options">
      <div class="Cardapio">
        <div class="ImgMenu">
            <img src="<%= image_url 'menu.svg' %>" alt="menu">
        </div>

        <div class="Title">
            <p>Cardápio Digital</p>
            <small> os itens do seu menu,<br> editáveis e disponíveis para <br>  acesso ao cliente</small>
        </div>
      </div>

      <div class="Reserva">
          <div class="ImgReserva">
              <img src="<%= image_url 'calendar.svg' %>" alt="calendar">
          </div>
          <div class="Title">
              <p>Reserva Online</p>
              <small>Datas e horários disponíveis <br> para reserva antecipada</small>
          </div>

      </div>

      <div class="Reletorios">
          <div class="ImgRelatorios">
              <img src="<%= image_url 'data.svg' %>" alt="calendar">
          </div>
          <div class="Title">
              <p>Relatórios</p>
              <small>Dados relatoriais completos <br> sobre fluxo de atendimento,<br> faturamento, entre outros</small>
          </div>
      </div>


      <div class="Plus">
          <div class="ImgPlus">
              <img src="<%= image_url 'add.svg' %>" alt="calendar">
          </div>
          <div class="Title">
              <p>e muito mais...</p>
          </div>
      </div>
    </div>
  </div>
</body>

</html>