<%= simple_form_for @order do |f| %>
  <%= f.input :table_id, required: true, collection: Table.available.ids, input_html: { class: 'text_input', maxlength: 30 } %>
  <%= f.hidden_field :status, value: 'open' %>
  <div class="buttons">
    <%= f.button :submit, 'Abrir Mesa', :class => "button_form"%>
    <%= link_to 'Cancelar', admin_tables_path, :class => "button_back"%>
  </div>
<% end %>