<h1 class="page-title"> Pedidos </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Abrir Pedido', new_order_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Referência</th>
        <th>Mesa</th>
        <th>Total</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.reference %></td>
          <td><%= link_to Table.find(order.table_id).reference, order_path(order) %></td>
          <td><%= order.total %></td>
          <td>
            <% if order.paid? %>
              <a class= "btn btn--show"> Pago </a>
            <% else %>
              <a class= "btn btn--show open"> Open </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<%= will_paginate @orders, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>
