<h1 class="page-title"><%= Table.find(@order.table_id).reference %> || Pedido <%= @order.reference%> </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Criar Comanda', new_command_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th> Item </th>
        <th> Preço </th>
        <th> Quantidade </th>
        <th> Total </th>
        <th> Cliente </th>
        <th> Pagamento </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @commands.each do |command| %>      
        <% command.line_items.each do |li| %>
          <tr>
            <td> Produto 1 </td>
            <td><%= display_money(li.price) %></td>
            <td>x⠀ <%= li.quantity %></td>
            <td><%= display_money(li.total) %></td>
            <td> <%= li.command.client_name %></td>
            <td>
              <% if li.command.paid? %>
                <a class= "btn btn--show"> Pago </a>
              <% else %>
                <a class= "btn btn--show open"> Open </a>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="box">
   <ul class="order_details">
    <li class="order_details"><strong> Total: </strong><%= display_money(@order.total) %> </li>
    <li class="order_details paid"><strong> Pago: </strong><%= display_money(@order.already_paid)%></li>
    <li class="order_details not_paid"><strong> Falta: </strong><%= display_money(@order.to_pay) %> </li>   
   </ul> 
  </div>
</div>
