
<h1 class="page-title"> Mesas </h1>
<h3 id="notice"><%= notice %></h3>

<div class="table_container">
  <div class="grid-container">
      <% @tables.each do |table| %>
        <% if table.status == 'available' %>  
          <div class="grid-item green"><%= link_to table.reference, table_path(table) %></div>
        <% elsif table.status == 'reserved' %>
          <div class="grid-item yellow"><%= link_to table.reference, table_path(table) %></div>
        <% else %>
          <div class="grid-item"><%= link_to table.reference, table_path(table) %></div>
        <% end %>
      <% end %>
  </div>
</div>

<%= will_paginate @tables, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>

  


