
<h1 class="page-title"> Mesas </h1>
<h3 id="notice"><%= notice %></h3>

<div class="table_container">
  <div class="grid-container">
      <% @tables.each do |table| %>
        <% if table.open? %>  
          <div class="grid-item green"><%= link_to table.reference, table_path(table) %></div>
        <% elsif table.reserved? %>
          <div class="grid-item yellow"><%= link_to table.reference, table_path(table) %></div>
        <% else %>
          <div class="grid-item"><%= link_to table.reference, table_path(table) %></div>
        <% end %>
      <% end %>
  </div>
  <div class="form_container">
    <ul> 
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Digite a referência da mesa">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"> ☌    </i>
          </button>
        </div>
    </ul>
    <ul>
      <li class="status green"> (•) Funcionando </li>
      <li class="status yellow"> (•) Reservada </li>
      <li class="status"> (•) Vagas </li>
    </ul> 
  </div>
</div>

<%= will_paginate @tables, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>

  


