<h1 class="page-title"> <%= @table.reference%> (<%= @table.status %>)</h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
  <%= link_to '↵', admin_tables_path %>
    <% if !@table.open? %>
      <%= simple_form_for @order do |f| %>
        <%= f.hidden_field :table_id, required: true, value: @table.id %>
        <%= f.hidden_field :status, value: 'open' %>
        <%= f.button :submit, 'Abrir Mesa', class: "btn btn--link" %>
      <% end %>
    <% end %> 
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Valor</th>
        <th> Quantidade </th>
        <th> Total </th>
        <th> Status </th>
        <th> Comanda </th>
        <th> Pagamento </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.reference, order_path(order) %></td>
          <td><%= order.status %></td>
          <td> R$ <%= order.total %></td>
          <td><%= link_to '✎', edit_order_path(order), class: 'btn btn--discrete' %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
