<%= simple_form_for @product do |f| %>
  <%= f.input :name, required: true, input_html: { class: 'text_input', maxlength: 30 } %>
  <%= f.input :description, required: true, input_html: { class: 'text_input',  maxlength: 50 } %>
  <%= f.input :type, input_html: { class: 'text_input'} %>
  <%= f.input :price, required: true, input_html: { class: 'text_input'} %>
  <%= f.input :stock, input_html: { class: 'text_input' } %>
  <%= f.input :prompt_delivery, :label => '⠀Pronta Entrega', :value => false, input_html: { class: 'checkbox' } %>
  <%= f.input :available, :label => '⠀Disponível (Irá automaticamente para o cardápio)', :value => false, input_html: { class: 'checkbox' } %>
  <div class="buttons">
    <%= f.button :submit, 'Criar Produto', :class => "button_form"%>
    <%= link_to 'Cancelar', products_path, :class => "button_back"%>
  </div>
<% end %>

