<h1 class="page-title"> Produtos </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Adicionar Produto', new_product_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Pronta Entrega</th>
        <th>Disponível</th>
        <th>Stock</th>
        <th>Tempo estimado</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= display_money(product.price) %></td>
          <td><%= product.prompt_delivery %></td>
          <td>
            <%= ' ⠀✔' if product.available %>
          </td>
          <td><%= product.stock %></td>
          <td><%= product.average_time %></td>
          <td><%= link_to '✎', edit_product_path(product), class: 'btn btn--discrete' %>
          <%= link_to '✘', product, method: :destroy, class: 'btn btn--delete', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<%= will_paginate @products, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>