<h1 class="page-title"> Mesas </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Criar Mesa', new_table_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Reference</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><%= link_to table.reference, admin_table_path(table) %></td>
          <td><%= table.status %></td>
          <td><%= link_to '✎', edit_table_path(table), class: 'btn btn--discrete' %>
          <%= link_to '◔◔', admin_table_path(table), method: :destroy, class: 'btn btn--show', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

      <ul> 
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Procure uma mesa:">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"> ☌    </i>
          </button>
        </div>
    </ul>
</div>

<%= will_paginate @tables, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>