<%= simple_form_for @line_item do |f| %>
  <label> Comanda: </label>
  <%= f.collection_select(:command_id, Command.all, :id, :client_name, input_html: { class: 'text_input' } ) %>        
  <label> Produto: </label>
  <%= f.collection_select(:product_id, Product.all, :id, :name, input_html: { class: 'text_input' } ) %>        
  <%= f.input :quantity, input_html: { class: 'text_input' } %>
  <div class="buttons">
    <%= f.button :submit, 'Adicionar Item', :class => "button_form"%>
    <%= link_to 'Cancelar', line_items_path, :class => "button_back"%>
  </div>
<% end %>