  <%= simple_form_for @command do |f| %>
    <%= f.input :client_name, required: true, input_html: { class: 'text_input', maxlength: 20 } %>
    <%= f.input :client_email, input_html: { class: 'text_input' } %>
    <%= f.input :client_cpf, input_html: { class: 'text_input' } %>
    <%= f.input :order_id, collection: Order.all.open.ids, input_html: { class: 'text_input' } %>
    <%= f.hidden_field :total, value: 0.0 %>
    <%= f.hidden_field :status, value: 'open' %>
    <div class="buttons">
      <%= f.button :submit, 'Criar Pedido', :class => "button_form"%>
      <%= link_to 'Cancelar', commands_path, :class => "button_back"%>
    </div>
  <% end %>