<h1 class="page-title"> Comanda </h1>
<h3 id="notice"><%= notice %></h3>
  <div class="btn_container">
    <%= link_to 'Criar Comanda', new_command_path, class: "btn btn--link" %>
  </div>

<div class="table_container">
  <table class="table">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Email</th>
        <th>Pedido</th>
        <th>Total</th>
        <th>Pago? </th>
      </tr>
    </thead>

    <tbody>
      <% @commands.each do |command| %>
        <tr>
          <td><%= command.client_name %></td>
          <td><%= command.client_email %></td>
          <td><%= link_to command.order.reference, order_path(command.order) %></td>
          <td><%= command.total %></td>
          <td>
            <%= ' ⠀✔' if command.status == 'paid' %>
          </td>
          <td><%= link_to '✎', edit_command_path(command), class: 'btn btn--discrete' %>
          <%= link_to '🚧', command_path(command), class: 'btn btn--discrete' %>
          <%= link_to '✘', command, method: :destroy, class: 'btn btn--delete', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<%= will_paginate @commands, :previous_label => '  ⇦', :next_label => ' ⇨', input_html: {class: 'pagination'} %>
